<div class="block" id="block-login">
  <h2><%= t('layout.login') %></h2>

  <div class="content login">
    <% form_for @session, :url => {:controller => 'sessions', :action => 'create'}, :html => {:class => 'form login'} do |f| %>
        <ul>
          <% unless f.error_messages.blank? %>
              <li id="errorLi">
                <h4>There is a problem with your submission</h4>
                <p id="errorMsg">Errors have been <strong>highlighted</strong> below</p>
              </li>
          <% end %>
          <%= f.base_error %>
          <%= input_text(f, :username, :required => true, :focus => true) %>
          <%= password_text(f, :password, :required => true) %>
          <li class="group navform wat-cf">
            <div class="right">
              <%= f.button 'Login' %>
              <%= link_to 'Cancel', root_path, :class => 'cancel button' %>
            </div>
          </li>
        </ul>
    <% end %>
  </div>
</div>


