<% form_for @office do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :parent_id, 'Parent Office' %><br/>
      <%= f.select :parent_id, @parent_office.html_options_for_parent %>
    </p>
    <%= f.submit t('view.offices.create') %>
<% end %>