<h3><%= t('view.additional_attributes.header') %></h3>

<div>
    <span><%= t('view.additional_attributes.name') %> </span> : <span><%= @additional_attribute.name %></span><br/>
    <span><%= t('view.additional_attributes.resource_type') %></span> : <span><%= @additional_attribute.resource_type %></span><br/>
    <span><%= t('view.additional_attributes.field_type') %></span> : <span><%= @additional_attribute.display_name %></span><br/>
    <span><%= t('view.additional_attributes.length') %></span> : <span><%= @additional_attribute.length %></span><br/>
    <span><%= t('view.additional_attributes.precision') %></span> : <span><%= @additional_attribute.precision %></span><br/>
</div>
