<div class="container" main-content="office_type_main_content" side-content="office_type_side_content">
  <div class="office_type_main_content">
    <h3><%= t('view.office_types.header') %></h3>
    <h4><%= t('view.office_types.name') %></h4>
    <ul>
      <% @office_types.each do |office_type| %>
          <li><%= office_type.name %></li>
      <% end %>
    </ul>
    <%= t('view.office_types.new') %>
    <% form_for @office_type do |f| %>
        <%= f.error_messages %>
        <p>
          <%= f.label :name, t('view.office_types.name') %><br/>
          <%= f.text_field :name %>
        </p>

        <p><%= f.submit t('view.office_types.create') %></p>
    <% end %>
  </div>
</div>