<% form_for user do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :username %><br/>
      <%= f.text_field :username, disabled(user) %>
    </p>
    <p>
      <%= f.label :email %><br/>
      <%= f.text_field :email, disabled(user) %>
    </p>
    <p>
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation %>
    </p>
    <p>
      <%= f.label :role %><br/>
      <%= f.select :role, Role.roles_for_select_option, {}, disabled(user) %>
    </p>
    <p>
      <%= f.label :office_id, 'Office' %><br/>
      <%= f.select :office_id, Office.for_select_option, {}, disabled(user) %>
    </p>
    <p><%= f.submit "Submit" %></p>
<% end %>