<div class="container">
  <div class="side_content" rel="user_content">
    <div><%= t('view.users.username') %> (<%= t('view.users.email') %>)</div>
    <ul>
    <% @users.each do |user| %>
        <li><span class="<%= "user-#{user.id}" %>"><%= link_to "#{user.username}(#{user.email})", user_path(user) %></span></li>
    <% end %>
    </ul>
  </div>
  <div id="user_content" class="main_content">
  </div>
  <div style="clear:left;"></div>
  <%= link_to t('view.users.new'), new_user_path %>
</div>