<div class="container 2_col_panel" side-content="user_side_content" main-content="user_main_content">
  <div class="treeview side_content user_side_content">
    <div><%= t('view.users.username') %> (<%= t('view.users.email') %>)</div>
    <ul>
    <% @users.each do |user| %>
        <li><span class="<%= "user-#{user.id}" %>"><%= link_to "#{user.username}(#{user.email})", user_path(user) %></span></li>
    <% end %>
    </ul>
  </div>
  <div class="user_main_content main_content"></div>
  <div style="clear:left;"></div>
  <div class="user_side_content"><%= link_to t('view.users.new'), new_user_path %></div>
</div>